<a href="https://colab.research.google.com/github/chihoang/Springboard_mec-mini-projects/blob/main/api_data_wrangling_mini_project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

This exercise will require you to pull some data from https://data.nasdaq.com/ (formerly Quandl API).

As a first step, you will need to register a free account on the https://data.nasdaq.com/ website.

After you register, you will be provided with a unique API key, that you should store:

*Note*: Use a `.env` file and put your key in there and `python-dotenv` to access it in this notebook. 

The code below uses a key that was used when generating this project but has since been deleted. Never submit your keys to source control. There is a `.env-example` file in this repository to illusrtate what you need. Copy that to a file called `.env` and use your own api key in that `.env` file. Make sure you also have a `.gitignore` file with a line for `.env` added to it. 

The standard Python gitignore is [here](https://github.com/github/gitignore/blob/master/Python.gitignore) you can just copy that.

In [ ]:
!pip install python-dotenv

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: python-dotenv in /usr/local/lib/python3.7/dist-packages (0.21.0)

# Get API key

In [ ]:
# get api key from your .env file
import os
from dotenv import load_dotenv  # if missing this module, simply run `pip install python-dotenv`

## drop the .env file here 
load_dotenv()
API_KEY = os.getenv('NASDAQ_API_KEY')

# Chi's API key, just in case 
# API_KEY = 'bA-ZeLSf-wHd5dpMiuJN'

print(API_KEY)

bA-ZeLSf-wHd5dpMiuJN

Nasdaq Data has a large number of data sources, but, unfortunately, most of them require a Premium subscription. Still, there are also a good number of free datasets.

For this mini project, we will focus on equities data from the Frankfurt Stock Exhange (FSE), which is available for free. We'll try and analyze the stock prices of a company called Carl Zeiss Meditec, which manufactures tools for eye examinations, as well as medical lasers for laser eye surgery: https://www.zeiss.com/meditec/int/home.html. The company is listed under the stock ticker AFX_X.

You can find the detailed Nasdaq Data API instructions here: https://docs.data.nasdaq.com/docs/in-depth-usage

While there is a dedicated Python package for connecting to the Nasdaq API, we would prefer that you use the *requests* package, which can be easily downloaded using *pip* or *conda*. You can find the documentation for the package here: http://docs.python-requests.org/en/master/

Finally, apart from the *requests* package, you are encouraged to not use any third party Python packages, such as *pandas*, and instead focus on what's available in the Python Standard Library (the *collections* module might come in handy: https://pymotw.com/3/collections/).
Also, since you won't have access to DataFrames, you are encouraged to us Python's native data structures - preferably dictionaries, though some questions can also be answered using lists.
You can read more on these data structures here: https://docs.python.org/3/tutorial/datastructures.html

Keep in mind that the JSON responses you will be getting from the API map almost one-to-one to Python's dictionaries. Unfortunately, they can be very nested, so make sure you read up on indexing dictionaries in the documentation provided above.

In [ ]:
# First, import the relevant modules
import pandas as pd
import requests
from pprint import PrettyPrinter
pp = PrettyPrinter()

Note: API's can change a bit with each version, for this exercise it is reccomended to use the nasdaq api at `https://data.nasdaq.com/api/v3/`. This is the same api as what used to be quandl so `https://www.quandl.com/api/v3/` should work too.

Hint: We are looking for the `AFX_X` data on the `datasets/FSE/` dataset.

# Pull data from nasdaq website

In [ ]:
# Now, call the Nasdaq API and pull out a small sample of the data (only one day) to get a glimpse
# into the JSON structure that will be returned

# curl "https://data.nasdaq.com/api/v3/datasets/WIKI/FB/data.json?api_key=YOURAPIKEY"
data_URL = 'https://data.nasdaq.com/api/v3/datasets/FSE/AFX_X/data.json?api_key='+API_KEY
start_date = "2002-05-20"
end_date = "2002-05-22"
frequency = "daily"
params = {
    'start_date': start_date,
    'end_date': end_date,
    'frequency': frequency,
    # 'plot':'full'
}
response = requests.get(data_URL, params=params).json()
pp.pprint(response)

{'dataset_data': {'collapse': None,
                  'column_index': None,
                  'column_names': ['Date',
                                   'Open',
                                   'High',
                                   'Low',
                                   'Close',
                                   'Change',
                                   'Traded Volume',
                                   'Turnover',
                                   'Last Price of the Day',
                                   'Daily Traded Units',
                                   'Daily Turnover'],
                  'data': [['2002-05-22',
                            10.51,
                            10.51,
                            10.5,
                            10.5,
                            None,
                            0.0,
                            None,
                            None,
                            None,
                            0.0],
                           ['2002-05-21',
                            10.7,
                            10.8,
                            10.6,
                            10.8,
                            None,
                            0.0,
                            None,
                            None,
                            None,
                            0.0],
                           ['2002-05-20',
                            10.58,
                            10.58,
                            10.58,
                            10.58,
                            None,
                            0.0,
                            None,
                            None,
                            None,
                            0.0]],
                  'end_date': '2002-05-22',
                  'frequency': 'daily',
                  'limit': None,
                  'order': None,
                  'start_date': '2002-05-20',
                  'transform': None}}

In [ ]:
# Inspect the JSON structure of the object you created, and take note of how nested it is,
# as well as the overall structure
print(type(response))
for key, val in response.items():
  print(str(key) + ':' + str(val) )
# text = response.text
# print(text)

df = pd.DataFrame(response['dataset_data']['data'], columns = response['dataset_data']['column_names'])
df.head()

<class 'dict'>
dataset_data:{'limit': None, 'transform': None, 'column_index': None, 'column_names': ['Date', 'Open', 'High', 'Low', 'Close', 'Change', 'Traded Volume', 'Turnover', 'Last Price of the Day', 'Daily Traded Units', 'Daily Turnover'], 'start_date': '2002-05-20', 'end_date': '2002-05-22', 'frequency': 'daily', 'data': [['2002-05-22', 10.51, 10.51, 10.5, 10.5, None, 0.0, None, None, None, 0.0], ['2002-05-21', 10.7, 10.8, 10.6, 10.8, None, 0.0, None, None, None, 0.0], ['2002-05-20', 10.58, 10.58, 10.58, 10.58, None, 0.0, None, None, None, 0.0]], 'collapse': None, 'order': None}

,Date,Open,High,Low,Close,Change,Traded Volume,Turnover,Last Price of the Day,Daily Traded Units,Daily Turnover
0,2002-05-22,10.51,10.51,10.50,10.50,None,0.0,None,None,None,0.0
1,2002-05-21,10.70,10.80,10.60,10.80,None,0.0,None,None,None,0.0
2,2002-05-20,10.58,10.58,10.58,10.58,None,0.0,None,None,None,0.0

These are your tasks for this mini project:

1. Collect data from the Franfurt Stock Exchange, for the ticker AFX_X, for the whole year 2017 (keep in mind that the date format is YYYY-MM-DD).
2. Convert the returned JSON object into a Python dictionary.
3. Calculate what the highest and lowest opening prices were for the stock in this period.
4. What was the largest change in any one day (based on High and Low price)?
5. What was the largest change between any two days (based on Closing Price)?
6. What was the average daily trading volume during this year?
7. (Optional) What was the median trading volume during this year. (Note: you may need to implement your own function for calculating the median.)

# Question 1

In [ ]:
### question 1: Collect data from the Franfurt Stock Exchange, for the ticker AFX_X, 
### for the whole year 2017 (keep in mind that the date format is YYYY-MM-DD). ###
data_URL = 'https://data.nasdaq.com/api/v3/datasets/FSE/AFX_X/data.json?api_key='+API_KEY
start_date = "2017-01-01"
end_date = "2017-12-31"
frequency = "daily"
params = {
    'start_date': start_date,
    'end_date': end_date,
    'frequency': frequency,
    # 'plot':'full'
}
response = requests.get(data_URL, params=params).json()

# Question 2

In [ ]:
### question 2: Convert the returned JSON object into a Python dictionary ###
df = pd.DataFrame(response['dataset_data']['data'], columns = response['dataset_data']['column_names'])
df.head()

,Date,Open,High,Low,Close,Change,Traded Volume,Turnover,Last Price of the Day,Daily Traded Units,Daily Turnover
0,2017-12-29,51.76,51.94,51.45,51.76,NaN,34640.0,1792304.0,None,None,None
1,2017-12-28,51.65,51.82,51.43,51.60,NaN,40660.0,2099024.0,None,None,None
2,2017-12-27,51.45,51.89,50.76,51.82,NaN,57452.0,2957018.0,None,None,None
3,2017-12-22,51.05,51.50,50.92,51.32,NaN,71165.0,3641949.0,None,None,None
4,2017-12-21,51.16,51.52,50.90,51.40,NaN,120649.0,6179433.0,None,None,None

In [ ]:
df.tail()

,Date,Open,High,Low,Close,Change,Traded Volume,Turnover,Last Price of the Day,Daily Traded Units,Daily Turnover
250,2017-01-06,34.91,35.21,34.91,35.04,NaN,27507.0,964046.0,None,None,None
251,2017-01-05,35.02,35.20,34.73,35.06,NaN,48412.0,1692326.0,None,None,None
252,2017-01-04,35.48,35.51,34.75,35.19,NaN,54408.0,1906810.0,None,None,None
253,2017-01-03,35.90,35.93,35.34,35.48,NaN,70618.0,2515473.0,None,None,None
254,2017-01-02,34.99,35.94,34.99,35.80,NaN,44700.0,1590561.0,None,None,None

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 255 entries, 0 to 254
Data columns (total 11 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Date                   255 non-null    object
 1   Open                   252 non-null    float64
 2   High                   255 non-null    float64
 3   Low                    255 non-null    float64
 4   Close                  255 non-null    float64
 5   Change                 1 non-null      float64
 6   Traded Volume          255 non-null    float64
 7   Turnover               255 non-null    float64
 8   Last Price of the Day  0 non-null      object
 9   Daily Traded Units     0 non-null      object
 10  Daily Turnover         0 non-null      object
dtypes: float64(7), object(4)
memory usage: 22.0+ KB

*Observation*: There are 255 data rows corresponding with 255 days. That means they recorded 5 week days per week for 51 weeks: 51 x 5 = 255 days.

In [ ]:
df.describe()

,Open,High,Low,Close,Change,Traded Volume,Turnover
count,252.000000,255.000000,255.000000,255.000000,1.00,255.000000,2.550000e+02
mean,43.344206,43.702804,42.924373,43.364157,-0.44,89124.337255,3.853589e+06
std,4.348585,4.365667,4.267225,4.321755,NaN,60441.130541,2.517807e+06
min,34.000000,34.120000,33.620000,34.060000,-0.44,45.000000,1.980000e+03
25%,41.395000,41.580000,41.045000,41.400000,-0.44,56282.000000,2.388636e+06
50%,43.450000,43.550000,42.620000,43.280000,-0.44,76286.000000,3.292223e+06
75%,45.857500,46.195000,45.390000,45.850000,-0.44,104479.000000,4.591904e+06
max,53.110000,53.540000,52.480000,53.090000,-0.44,670349.000000,2.591054e+07

# Question 3

In [ ]:
### question 3: Calculate what the highest and lowest opening prices were for the stock in this period ###
highest_open = max(df['Open'])
lowest_open  = min(df['Open'])
print('highest_open = ', highest_open)
print('lowest_open  = ', lowest_open)

highest_open =  53.11
lowest_open  =  34.0

# Question 4

In [ ]:
### question 4: What was the largest change in any one day (based on High and Low price)? ###
tmp = df['High'] - df['Low']
largest_change = max(tmp)
print('largest_change = ', largest_change)
# print(type(tmp))
# print(tmp)

largest_change =  2.8100000000000023

# Question 5

In [ ]:
### question 5: What was the largest change between any two days (based on Closing Price)? ### 
largest_change_close = max(df['Close']) - min(df['Close'])
print('largest_change_close = ', largest_change_close)

largest_change_close =  19.03

# Question 6

In [ ]:
### question 6: What was the average daily trading volume during this year? ###
import numpy as np
avg_day_trade_volume = np.mean(df['Traded Volume'])
print('avg_day_trade_volume = ', avg_day_trade_volume)

avg_day_trade_volume =  89124.33725490196

# Question 7

In [ ]:
### question 7: (Optional) What was the median trading volume during this year. 
### (Note: you may need to implement your own function for calculating the median.)
def my_median(arr):
  length = len(arr)  
  ind = length//2
  arr = sorted(arr)

  if length%2 != 0:
    ### odd ###
    return arr[ind]
  
  else:
    ### even ###
    return (arr[ind] + arr[ind-1])/2

### compare with built-in function ###
med1 = my_median(df['Traded Volume'])
med2 = np.median(df['Traded Volume']) 
err = med1 - med2
print('med1 = ' +str(med1) + '; med2 = '+str(med2)+'; error = ' + str(err) )

med1 = 76286.0; med2 = 76286.0; error = 0.0